<div class="footer p-5 text-center">
    <p class="mb-3">Made with ♥ by <a href="https://mamun-swe.github.io/me"
            class="fw-semibold text-black text-decoration-none">Abdullah Al Mamun</a></p>

    <div class="d-flex justify-content-center">
        <a href="https://github.com/Mamun-swe" class="me-1">
            <img src="../images/github.png" alt="Github" style="width: 35px; height: 35px;">
        </a>
        <a href="https://www.linkedin.com/in/mamun-swe" class="ms-1">
            <img src="../images/linkedin.png" alt="Linkedin" style="width: 35px; height: 35px;">
        </a>
    </div>
</div>