<%- include("../components/head.ejs") %>
    <%- include("../components/navbar.ejs") %>

        <div class="custom-container">
            <div class="d-flex">
                <div class="custom-desktop-sidebar bg-warning">
                    
                </div>
                <div class="flex-fill docs-main-content-container">
                    <p>Main content</p>
                </div>
            </div>
        </div>


        <%- include("../components/end.ejs") %>