<%- include("../components/head.ejs") %>
    <%- include("../components/navbar.ejs") %>

        <div class="custom-container">
            <div class="container py-5">
                <div class="row">
                    <div class="col col-lg-6 mx-auto">
                        <div class="card border-0">
                            <div class="card-body text-center">
                                <img src="./images/logo.png" alt="..." class="logo">
                                <br /><br />
                                <h4 class="card-title mb-0">Documentation writting...</h4>
                                <small class="text-muted">Help us to build it together.</small>
                                <br />
                                <br />
                                <a target="_blank" href="https://github.com/Mamun-swe/storexapi" type="button"
                                    class="btn shadow-none github-btn btn-dark mx-1 my-2">
                                    View on Github
                                </a>

                                <a target="_blank" href="https://documenter.getpostman.com/view/5909130/UzQuPR5Y"
                                    type="button" class="btn shadow-none postman-btn">
                                    Postman collection
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <%- include("../components/end.ejs") %>