<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Storex rest api for your store and shopping website prototype">
    <meta property="og:title" content="Storex API">
    <meta property="og:site_name" content="Storex API">
    <meta property="og:url" content="storexapi.herokuapp.com">
    <title>Storex API</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/bootstrap.min.js"></script>

</head>

<body>
    <div class="container py-5">
        <div class="row">
            <div class="col col-lg-6 mx-auto">
                <div class="card border-0">
                    <div class="card-body text-center">
                        <h4 class="card-title mb-0">Documentation writting...</h4>
                        <small class="text-muted">Help us to build it together.</small>
                        <br />
                        <br />
                        <a target="_blank" href="https://github.com/Mamun-swe/storexapi" type="button"
                            class="btn shadow-none github-btn btn-dark mx-1 my-2">
                            View on Github
                        </a>

                        <a target="_blank"
                            href="https://documenter.getpostman.com/view/5909130/UzQuPR5Y"
                            type="button" class="btn shadow-none postman-btn">
                            Postman collection
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>