@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Barlow', sans-serif;
}

.h1, .h2, .h3, .h4, .h5, .h6 {
    color: #1b1b35 !important;
}

.github-btn {
    color: #fff;
    border: 0;
    padding-top: 17px;
    padding-bottom: 17px;
    transition: 0.3s all;
    width: 220px !important;
    font-size: 16px !important;
    border-radius: 4px !important;
}

.github-btn:hover {
    color: #fff;
    background: #44494e;
}

.doc-btn {
    border: 0;
    padding-top: 17px;
    padding-bottom: 17px;
    width: 220px !important;
    color: #fff !important;
    font-size: 16px !important;
    border-radius: 4px !important;
    transition: 0.3s all !important;
    background: #1b1b35 !important;
}

.doc-btn:hover {
    background: #1b1b35da !important;
}

.postman-btn {
    border: 0;
    padding-top: 17px;
    padding-bottom: 17px;
    width: 220px !important;
    color: #fff !important;
    font-size: 16px !important;
    border-radius: 4px !important;
    transition: 0.3s all !important;
    background: #EF5B25 !important;
}

.postman-btn:hover {
    background: #ef5b25c4 !important;
}

.custom-container {
    margin-top: 62px !important;
}

@media(min-width: 992px) {
    .custom-container {
        margin-top: 85px !important;
    }
}


/* Navbar styels*/
.custom-navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    z-index: 9999;
    background: #fff !important;
}

.custom-navbar .logo-container .logo {
    width: 35px;
    height: 32px;
}

@media(min-width: 992px) {
    .custom-navbar {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .custom-navbar .logo-container .logo {
        width: 50px;
        height: 45px;
    }
}

.custom-navbar .page-links-container {
    padding-top: 3px;
}

.custom-navbar .page-links-container a {
    color: #6e6e6e !important;
    font-size: 0.9em !important;
    transition: 0.3s all !important;
    font-weight: 500;
}

.custom-navbar .page-links-container a:hover {
    color: #000 !important;
}

/* End navbar styels*/

/* Home page styles */
header {
    padding-top: 40px;
    padding-bottom: 100px;
}

header .header-content-container {
    padding-top: 100px;
}

@media(min-width: 768px) {
    header {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    header img {
        max-width: 500px !important;
    }
}

@media(min-width: 992px) {
    header img {
        max-width: 550px !important;
    }
}

@media(min-width: 1280px) {
    header img {
        max-width: 600px !important;
    }
}

@media(min-width: 992px) {
    header .header-content-container {
        padding-top: 150px;
    }
}

.section-one {
    text-align: center;
    padding-bottom: 100px !important;
}


.resource-section {
    padding-bottom: 100px !important;
}

.api-routes-section {
    padding-bottom: 100px !important;
}

/* End home page styles */


/* Docs page styles */
@media(min-width: 768px) {
    .api-routes-list-box {
        width: 600px !important;
    }
}

/* End docs page styles */

/* Start footer style */
.footer {
    background: #f5f5f5;
}

/* End footer style */