@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Barlow', sans-serif;
}

/* Navbar styels*/
.custom-navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    z-index: 9999;
    background: #fff !important;
}

.custom-navbar .logo-container .logo {
    width: 35px;
    height: 32px;
}

@media(min-width: 992px) {
    .custom-navbar {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .custom-navbar .logo-container .logo {
        width: 50px;
        height: 45px;
    }
}

.custom-navbar .page-links-container a {
    color: #6e6e6e !important;
    font-size: 0.9em !important;
    transition: 0.3s all !important;
    font-weight: 500;
}

.custom-navbar .page-links-container a:hover {
    color: #000 !important;
}

/* End navbar styels*/


.custom-container {
    margin-top: 62px !important;
}

@media(min-width: 992px) {
    .custom-container {
        margin-top: 85px !important;
    }
}

/* Home page styles */
.github-btn {
    color: #fff;
    border: 0;
    padding: 12px 25px;
    transition: 0.3s all;
}

.github-btn:hover {
    color: #fff;
    background: #44494e;
}

.postman-btn {
    border: 0;
    padding: 12px 25px;
    transition: 0.3s all;
    color: #fff !important;
    background: #EF5B25 !important;
}

.postman-btn:hover {
    background: rgba(218, 87, 40, 0.849) !important;
}

/* End home page styles */


/* Docs page styles */
/* custom-desktop-sidebar */
.custom-desktop-sidebar {
    display: none;
}

@media(min-width: 992px) {
    .custom-desktop-sidebar {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        padding: 15px;
        padding-top: 85px !important;
        width: 250px !important;
        height: 100vh !important;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .docs-main-content-container {
        padding-left: 250px !important;
    }
}

/* End docs page styles */