<div class="footer p-5 text-center">
    <p class="mb-0">Made with ♥ by <a href="https://www.linkedin.com/in/mamun-swe/"
            class="fw-semibold text-black text-decoration-none">Abdullah Al Mamun</a></p>
</div>