<div class="custom-navbar">
    <div class="container">
        <div class="d-flex">
            <div class="logo-container">
                <a href="/">
                    <img src="./images/logo.png" alt="..." class="logo">
                </a>
            </div>
            <div class="flex-fill">
                <div class="d-flex justify-content-end pt-lg-2">
                    <div class="d-none d-lg-block page-links-container">
                        <a href="/" class="text-decoration-none px-3 py-2 mx-2">Home</a>
                        <a href="/docs" class="text-decoration-none px-3 py-2 mx-2">Docs</a>
                        <a href="https://github.com/Mamun-swe/storexapi"
                            class="text-decoration-none px-3 py-2 mx-2">Github</a>
                    </div>

                    <!-- Drawer handeller -->
                    <button type="button" class="btn d-lg-none py-0 border-0">
                        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="30" height="30"
                            viewBox="0 0 30 30" style=" fill:#000000;">
                            <path
                                d="M 3 7 A 1.0001 1.0001 0 1 0 3 9 L 27 9 A 1.0001 1.0001 0 1 0 27 7 L 3 7 z M 3 14 A 1.0001 1.0001 0 1 0 3 16 L 27 16 A 1.0001 1.0001 0 1 0 27 14 L 3 14 z M 3 21 A 1.0001 1.0001 0 1 0 3 23 L 27 23 A 1.0001 1.0001 0 1 0 27 21 L 3 21 z">
                            </path>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>